{% extends "AdminBundle::layout.html.twig" %}
{% block title %} Influencers {% endblock %}
{% block style %}
    <link rel="stylesheet" href="{{ asset("bundles/admin/assets/skins/dropify/css/dropify.css")}}"/>
{% endblock %}
{% block body %}
    <div class="md-card uk-margin-medium-bottom">
        <div class="md-card-toolbar">
            <div class="md-card-toolbar-actions">
                <i class="md-icon material-icons md-card-fullscreen-activate">&#xE5D0;</i>
                <i class="md-icon material-icons md-card-toggle">&#xE316;</i>
                <a href="{{ path('admin_homepage') }}"><i class="md-icon uk-icon-refresh"></i></a>
            </div>
            <h3 class="md-card-toolbar-heading-text">
                Catalogues influenceurs
                <span class="uk-badge uk-badge-warning">{{ nbInfluencer }}</span>
            </h3>
        </div>
        <div class="md-card-content">
            <div class="">
                <form action="{{ path('admin_homepage') }}" class="contactFilter">
                    <div class="uk-grid" style="margin-top: 10px">
                        <div class="uk-width-medium-1-2">
                            <div class="">
                                <label for="uk_dp_start">Chercher par date d'ajout min</label>
                                <input type="text" class="md-input" name="begin" id="uk_dp_start" value="{{ app.request.query.get("begin") }}" />
                            </div>
                        </div>
                        <div class="uk-width-medium-1-2">
                            <div class="">
                                <label for="uk_dp_end">Chercher par date d'ajout max</label>
                                <input type="text" class="md-input" name="end" id="uk_dp_end" value="{{ app.request.query.get("end") }}" />
                            </div>
                        </div>
                    </div>
                    <div class="uk-grid" style="margin-top: 10px">
                        <div class="uk-width-medium-1-1">
                            <div class="">
                                <label for="mail_new_to">Recherche par le nom ou email de l'influenceur</label>
                                <input type="text" class="md-input" name="search" value="{{ app.request.query.get("search") }}" />
                            </div>
                        </div>
                    </div>
                    <div class="uk-grid" data-uk-grid-margin="">
                        <div class="uk-width-medium-1-2 uk-row-first">
                        </div>
                        <div class="uk-width-medium-1-2">
                            <button type="submit" class="uk-float-right md-btn md-btn-flat md-btn-flat-primary">Chercher</button>
                        </div>
                    </div>
                </form>
                <div class="uk-grid" data-uk-grid-margin="">
                    <div class="uk-width-medium-1-1">
                        <table class="uk-table uk-table-nowrap table_check">
                            <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Âge</th>
                                <th>Sexe</th>
                                <th>Email</th>
                                <th>Date de création</th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for influencer in influencers %}
                                <tr>
                                    <td>{{ influencer.name }}</td>
                                    <td>{% if influencer.old is not null %} {{ influencer.old }} ans{% else %}- - -{% endif %}</td>
                                    <td>{% if influencer.email is not null %} {{ influencer.email }} ans{% else %}- - -{% endif %}</td>
                                    <td>{{ influencer.createdat | date('d M Y')}}</td>
                                    <td><a href="{{ path('admin_influencer_see', {influencer: influencer.id}) }}"><i class='uk-icon-eye uk-icon-medium'></i> voir le profil</a></td>
                                    <td><a class='deleteClient' data-url="{{ path('admin_influencer_delete') }}" data-id="{{ influencer.id }}" data-name="{{ influencer.name }}"><i class='uk-icon-trash uk-icon-medium uk-text-danger'></i></a></td>
                                </tr>
                            {% else %}
                                <tr><td colspan="6" class="uk-text-danger uk-text-center">Aucun influencer</td></tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <table class="uk-grid">
                    <tfoot class="uk-width-medium-1-1">
                        <tr>
                            {% if nbPage > 1 %}
                                <td colspan="5">
                                    <ul class="uk-pagination uk-margin-medium-top">
                                        <li class="{% if page <= 1 %}disabled{% endif %}">
                                            <a href="{% if page > 1 %}{{ path("admin_homepage") }}?page={{ page-1 }}&begin={{ app.request.query.get("begin") }}&end={{ app.request.query.get("end") }}&search={{ app.request.query.get("search") }}
                                            {% else %}#{% endif %}">précédent</a>
                                        </li>
                                        {% for nb in range(1, nbPage) %}
                                            <li class="{% if page == nb %}active{% endif %}">
                                                <a href="{% if page != nb %} {{ path("admin_homepage") }}?page={{ nb }}&begin={{ app.request.query.get("begin") }}&end={{ app.request.query.get("end")}}&search={{ app.request.query.get("search") }}
                                                 {% endif %}">
                                                    {{ nb }}
                                                </a>
                                            </li>
                                        {% endfor %}
                                        <li class="{% if page >= nbPage %}disabled{% endif %}">
                                            <a href="{% if page < nbPage  %}{{ path("admin_homepage") }}?page={{ page+1 }}&begin={{ app.request.query.get("begin") }}&end={{ app.request.query.get("end") }}&search={{ app.request.query.get("search") }}{% else %}#{% endif %}">suivant</a>
                                        </li>
                                    </ul>
                                </td>
                            {% endif %}
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{{ asset("bundles/admin/assets/js/custom/dropify/dist/js/dropify.min.js") }}"></script>
    <script src="{{ asset("bundles/admin/assets/js/pages/forms_file_input.min.js") }}"></script>
    <script src="{{ asset("bundles/admin/bower_components/ckeditor/ckeditor.js") }}"></script>
    <script src="{{ asset("bundles/admin/bower_components/ckeditor/adapters/jquery.js") }}"></script>
    <script src="{{ asset("bundles/admin/assets/js/influencer.js") }}"></script>
{% endblock %}