{% extends "AdminBundle::layout.html.twig" %}
{% block title %} Commentaires {% endblock %}
{% block style %}
    <link rel="stylesheet" href="{{ asset("bundles/admin/assets/skins/dropify/css/dropify.css")}}"/>
{% endblock %}
{% block body %}
    <div class="md-card uk-margin-medium-bottom">
        <div class="md-card-toolbar">
            <div class="md-card-toolbar-actions">
                <i class="md-icon material-icons md-card-fullscreen-activate">&#xE5D0;</i>
                <i class="md-icon material-icons md-card-toggle">&#xE316;</i>
                <a href="{{ path('admin_commentaire') }}"><i class="md-icon uk-icon-refresh"></i></a>
            </div>
            <h3 class="md-card-toolbar-heading-text">
                <a href="{{ path('admin_homepage') }}"><i class="md-icon uk-icon-arrow-left"></i></a>
                Liste des commentaires
                <span class="uk-badge uk-badge-warning">{{ nbContact }}</span>
            </h3>
        </div>
        <div class="md-card-content">
            <div>
                <form action="{{ path('admin_commentaire') }}" class="contactFilter">
                    <div class="uk-grid" style="margin-top: 10px">
                        <div class="uk-width-medium-1-2">
                            <div class="">
                                <label for="uk_dp_start">Chercher par date d'ajout min</label>
                                <input type="text" class="md-input" name="begin" value="{{ app.request.query.get("begin") }}" id="uk_dp_start" />
                            </div>
                        </div>
                        <div class="uk-width-medium-1-2">
                            <div class="">
                                <label for="uk_dp_end">Chercher par date d'ajout max</label>
                                <input type="text" class="md-input" name="end" value="{{ app.request.query.get("end") }}" id="uk_dp_end" />
                            </div>
                        </div>
                    </div>
                    <div class="uk-grid" style="margin-top: 10px">
                        <div class="uk-width-medium-1-1">
                            <div class="">
                                <label for="mail_new_to">Recherche de commentaire</label>
                                <input type="text" class="md-input" name="search" value="{{ app.request.query.get("search") }}" />
                            </div>
                        </div>
                    </div>
                    <div class="uk-grid" data-uk-grid-margin="">
                        <div class="uk-width-medium-1-2 uk-row-first">
                        </div>
                        <div class="uk-width-medium-1-2">
                            <button type="submit" class="uk-float-right md-btn md-btn-flat md-btn-flat-primary">Chercher</button>
                        </div>
                    </div>
                </form>
                <div class="uk-grid" data-uk-grid-margin="">
                    <div class="uk-width-medium-1-1">
                        <table class="uk-table uk-table-nowrap table_check">
                            <thead>
                            <tr>
                                <th>Email</th>
                                <th>Commentaire</th>
                                <th>Date</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for contact in contacts %}
                                <tr>
                                    <td>{{ contact.email }}</td>
                                    <td>{{ contact.message }}</td>
                                    <td>{{ contact.createdat | date('d M Y')}}</td>
                                    <td><a class='deleteCommentaire' data-uk-tooltip="{pos:'top'}" title='Supprimer le commentaire' data-url="{{ path('admin_commentaire_delete') }}" data-id="{{ contact.id }}" data-nom="{{ contact.email }}"><i class='uk-icon-trash uk-icon-medium uk-text-danger'></i></a></td>
                                </tr>
                            {% else %}
                                <tr><td colspan="4" class="uk-text-danger uk-text-center">Aucun commentaire</td></tr>
                            {% endfor %}
                            </tbody>
                            <tfoot class="uk-width-medium-1-1">
                            <tr>
                                {% if nbPage > 1 %}
                                    <td colspan="8">
                                        <ul class="uk-pagination uk-margin-medium-top">
                                            <li class="{% if page <= 1 %}disabled{% endif %}">
                                                <a href="{% if page > 1 %}{{ path("admin_commentaire") }}?page={{ page-1 }}&begin={{ app.request.query.get("begin") }}&end={{ app.request.query.get("end") }}&search={{ app.request.query.get("search") }}
                                                {% else %}#{% endif %}" class="uk-icon-angle-double-left"></a>
                                            </li>
                                            {% for nb in range(1, nbPage) %}
                                                <li class="{% if page == nb %}active{% endif %}">
                                                    <a href="{% if page != nb %} {{ path("admin_commentaire") }}?page={{ nb }}&begin={{ app.request.query.get("begin") }}&end={{ app.request.query.get("end")}}&search={{ app.request.query.get("search") }}
                                                     {% endif %}">
                                                        {{ nb }}
                                                    </a>
                                                </li>
                                            {% endfor %}
                                            <li class="{% if page >= nbPage %}disabled{% endif %}">
                                                <a href="{% if page < nbPage  %}{{ path("admin_commentaire") }}?page={{ page+1 }}&begin={{ app.request.query.get("begin") }}&end={{ app.request.query.get("end") }}&search={{ app.request.query.get("search") }}{% else %}#{% endif %}" class="uk-icon-angle-double-right"></a>
                                            </li>
                                        </ul>
                                    </td>
                                {% endif %}
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{{ asset("bundles/admin/assets/js/custom/dropify/dist/js/dropify.min.js") }}"></script>
    <script src="{{ asset("bundles/admin/assets/js/pages/forms_file_input.min.js") }}"></script>
    <script src="{{ asset("bundles/admin/bower_components/ckeditor/ckeditor.js") }}"></script>
    <script src="{{ asset("bundles/admin/bower_components/ckeditor/adapters/jquery.js") }}"></script>
    <script>
        $(document).on('click','.deleteCommentaire', function (e) {
            e.preventDefault();
            var url = $(this).data('url'),
                id = $(this).data('id');
            mess = "Êtes vous sûr de vouloir supprimer le commentaire de "+$(this).data('nom')+"?";
            UIkit.modal.confirm(mess, function(){
                if(url!='' && id!=''){
                    $.ajax({
                        type: 'post',
                        url: url,
                        data: 'id='+id,
                        datatype: 'json',
                        beforeSend: function () {},
                        success: function (json) {
                            if (json.status == 0) {
                                UIkit.notify({message:json.mes,status:'success',timeout : 5000,pos:'top-center'});
                                window.location.reload();
                            } else {
                                UIkit.notify({message:json.mes,status:'danger',timeout : 5000,pos:'top-center'});
                            }
                        },
                        complete: function () {},
                        error: function (jqXHR, textStatus, errorThrown) {}
                    });
                }else{
                    UIkit.notify({message:"Une erreur est survenue",status:'danger',timeout : 5000,pos:'top-center'});
                }
            });
        });
    </script>
{% endblock %}