<!doctype html>
<html lang="fr" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="msapplication-tap-highlight" content="no"/>
        <link rel="shortcut icon" type="image/png" href="{{ asset('bundles/home/favicon.png') }}"/>
        <link rel="stylesheet" href="{{ asset("bundles/admin/bower_components/uikit/css/uikit.almost-flat.min.css")}}"/>
        <link rel="stylesheet" href="{{ asset("bundles/admin/assets/icons/flags/flags.min.css")}}"/>
        <link rel="stylesheet" href="{{ asset("bundles/admin/assets/css/main.min.css")}}"/>
        <link rel="stylesheet" href="{{ asset("bundles/admin/assets/css/themes/themes_combined.min.css")}}"/>
        <link rel="stylesheet" href="{{ asset("bundles/admin/assets/css/style.css")}}"/>

        {% block style %}{% endblock %}

        <title>{% block title %}{% endblock %}</title>
    </head>

    <body class=" sidebar_main_open sidebar_main_swipe">
    <!-- main header -->
        <header id="header_main">
            <div class="header_main_content">
                <nav class="uk-navbar">
                    <!-- main sidebar switch -->
                    <a href="#" id="sidebar_main_toggle" class="sSwitch sSwitch_left">
                        <span class="sSwitchIcon"></span>
                    </a>
                    <!-- secondary sidebar switch -->
                    <a href="#" id="sidebar_secondary_toggle" class="sSwitch sSwitch_right sidebar_secondary_check">
                        <span class="sSwitchIcon"></span>
                    </a>
                    <div class="uk-navbar-flip">
                        <ul class="uk-navbar-nav user_actions">
                            <li><a href="#" id="full_screen_toggle" class="user_action_icon uk-visible-large"><i class="material-icons md-24 md-light">&#xE5D0;</i></a></li>
                            <li><a href="#" id="main_search_btn" class="user_action_icon"><i class="material-icons md-24 md-light">&#xE8B6;</i></a></li>
                            <li data-uk-dropdown="{mode:'click',pos:'bottom-right'}">
                                <a href="#" class="user_action_image"><img class="md-user-image" src="{{ asset('bundles/admin/assets/img/user.png') }}" alt=""/></a>
                                <div class="uk-dropdown uk-dropdown-small touruser">
                                    <ul class="uk-nav js-uk-prevent">
                                        <li><a href="{{ path('admin_change_password') }}">modifier mot de passe</a></li>
                                        <li><a href="{{ path('admin_logout') }}">Déconnexion</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="header_main_search_form">
                <i class="md-icon header_main_search_close material-icons">&#xE5CD;</i>
                <form class="uk-form uk-autocomplete" data-uk-autocomplete="{source:'data/search_data.json'}">
                    <input type="text" class="header_main_search_input" name="search" />
                    <button class="header_main_search_btn uk-button-link"><i class="md-icon material-icons">&#xE8B6;</i></button>
                    <script type="text/autocomplete">
                    </script>
                </form>
            </div>
        </header>
        <aside id="sidebar_main">
            <div class="sidebar_main_header">
                <div class="sidebar_logo" style="height: auto;">
                    <a href="" class="sSidebar_hide sidebar_logo_large">
                    <img class="logo_regular" src="{{ asset('bundles/home/favicon.svg') }}" alt="" style="width: 100px; padding-top: 5px" />
                    </a>
                </div>
                <br/>
                <div class="menu_section">
                    <ul>
                        {% set uri  = app.request.getRequestUri() %}
                        <li class="{% if  uri ==  path('admin_homepage')%}current_section{% endif %}" title="Concert">
                            <a href="{{ path('admin_homepage') }}">
                                <span class="menu_icon"><i class="uk-icon-calendar-minus-o uk-icon-medium"></i></span>
                                <span class="menu_title">Concerts</span>
                            </a>
                        </li>
                        <li class="{% if  uri ==  path('admin_salle')%}current_section{% endif %}" title="Salles concert">
                            <a href="{{ path('admin_salle') }}" >
                                <span class="menu_icon"><i class="uk-icon-building uk-icon-medium"></i></span>
                                <span class="menu_title">Salles de concert</span>
                            </a>
                        </li>
                        <li class="{% if  uri ==  path('admin_client')%}current_section{% endif %}" title="Utilisateurs de l'application">
                            <a href="{{ path('admin_client') }}">
                                <span class="menu_icon"><i class="uk-icon-user uk-icon-medium"></i></span>
                                <span class="menu_title">Utilisateurs</span>
                            </a>
                        </li>
                        <li class="{% if  uri ==  path('admin_artiste')%}current_section{% endif %}" title="Liste des artistes">
                            <a href="{{ path('admin_artiste') }}">
                                <span class="menu_icon"><i class="uk-icon-music uk-icon-medium"></i></span>
                                <span class="menu_title">Artistes</span>
                            </a>
                        </li>
                        <li class="{% if  uri ==  path('admin_newsletter')%}current_section{% endif %}" title="NewsLetter">
                            <a href="{{ path('admin_newsletter') }}">
                                <span class="menu_icon"><i class="uk-icon-newspaper-o uk-icon-medium"></i></span>
                                <span class="menu_title">NewsLetter</span>
                            </a>
                        </li>
                        <li class="{% if  uri ==  path('admin_commentaire')%}current_section{% endif %}" title="Commentaires">
                            <a href="{{ path('admin_commentaire') }}">
                                <span class="menu_icon"><i class="uk-icon-comment uk-icon-medium"></i></span>
                                <span class="menu_title">Commentaires</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </aside><!-- main sidebar end -->

        <div id="page_content">
            <div id="page_content_inner">
                {% block body%}{% endblock %}
            </div>
        </div>
        <script src="{{ asset('bundles/admin/assets/js/common.js') }}"></script>
        <script src="{{ asset('bundles/admin/assets/js/uikit_custom.js') }}"></script>
        <script src="{{ asset('bundles/admin/assets/js/altair_admin_common.js') }}"></script>
        <script src="{{ asset('bundles/admin/bower_components/enjoyhint/enjoyhint.js') }}"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                if($('.alertJss').text() != ''){
                    UIkit.notify({message:$('.alertJss').text(),status:'success',timeout : 5000,pos:'top-center'});
                }
                if($('.alertJs').text() != ''){
                    UIkit.notify({message:$('.alertJs').text(),status:'danger',timeout : 5000,pos:'top-center'});
                }
                altair_form_adv = {
                    date_range: function () {
                        var $dp_start = $('#uk_dp_start'),
                            $dp_end = $('#uk_dp_end');

                        var start_date = UIkit.datepicker($dp_start, {
                            format: 'DD-MM-YYYY'
                        });

                        var end_date = UIkit.datepicker($dp_end, {
                            format: 'DD-MM-YYYY'
                        });

                        $dp_start.on('change', function () {
                            end_date.options.minDate = $dp_start.val();
                            setTimeout(function () {
                                $dp_end.focus();
                            }, 300);
                        });

                        $dp_end.on('change', function () {
                            start_date.options.maxDate = $dp_end.val();
                        });
                    }
                };
                altair_form_adv.date_range();

                UIkit.timepicker($('#time'), {
                    format: 'hh:mm'
                });
                UIkit.datepicker($('#date'), {
                    format: 'DD-MM-YYYY'
                });
            });
        </script>
        <script>
            $(function() {
                if(isHighDensity()) {
                    $.getScript("{{ asset('bundles/admin/bower_components/dense/src/dense.js') }}", function() {
                        altair_helpers.retina_images();
                    });
                }
                if(Modernizr.touch) {
                    // fastClick (touch devices)
                    FastClick.attach(document.body);
                }
            });
            $window.load(function() {
                // ie fixes
                altair_helpers.ie_fix();
            });
        </script>
        {% block scripts %}{% endblock %}
    </body>
</html>
