<!DOCTYPE html>
<html lang="fr">
<head>
    <title>connexion-NopAgency</title>
    <meta charset="UTF-8">
    <meta name="description" content="Agence d'influenceur">
    <meta name="keywords" content="influenceur, agence, marketing">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link href="{{ asset('bundles/home/bundles/img/favicon.ico') }}" rel="shortcut icon">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{ asset('bundles/home/plugins/bootstrap-material/material-kit.min.css') }}">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="{{ asset('bundles/home/css/font-awesome.min.css') }}">

</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 ml-auto mr-auto">
                <div class="card card-login">
                    <form class="form" id="loginForm" method="post" action="{{ path('home_login') }}">
                        <div class="card-header card-header-primary text-center">
                            <h4 class="card-title">Login</h4>
                            <div class="social-line">
                                <a href="#pablo" class="btn btn-just-icon btn-link">
                                    <i class="fa fa-facebook-square"></i>
                                </a>
                                <a href="#pablo" class="btn btn-just-icon btn-link">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="#pablo" class="btn btn-just-icon btn-link">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </div>
                        </div>
                        <p class="description text-center">Connectez vous en tant qu'influenceur</p>
                        <div class="card-body">
                            <span class="bmd-form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">
                                        <i class="material-icons">mail</i>
                                      </span>
                                    </div>
                                    <input type="email" name="email" class="form-control" placeholder="Email...">
                                </div>
                            </span>
                            <span class="bmd-form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">
                                        <i class="material-icons">lock_outline</i>
                                      </span>
                                    </div>
                                    <input type="password" name="password" class="form-control" placeholder="Password...">
                                </div>
                            </span>
                        </div>
                        <div class="footer text-center">
                            <button type="submit" class="login_btn btn btn-primary btn-wd ">Connexion</button>
                            <a href="{{ path('home_register') }}" class="btn btn-primary btn-link">Je veux devenir influenceur</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ asset('bundles/home/js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ asset('bundles/home/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/home/plugins/bootstrap-material/bootstrap-material-design.min.js') }}"></script>
    <script src="{{ asset('bundles/home/js/sweetalert.min.js') }}"></script>
    <script>
        $(document).ready(function() {
            $(document).on('submit', '#loginForm', function (e) {
                e.preventDefault();
                var url = $(this).attr('action'),
                    act = $('.login_btn').text();
                data = $(this).serialize();

                $.ajax({
                    type: 'post',
                    url: url,
                    data: data,
                    datatype: 'json',
                    beforeSend: function () {
                        $('.login_btn').text('Chargement...').prop('disabled', true);
                    },
                    success: function (json) {
                        if (json.status == 0) {
                            swal(json.mes, '', 'success');
                            window.location.reload();
                        }else{
                            swal(json.mes, '', 'error');
                        }
                    },
                    complete: function () {
                        $('.login_btn').text(act).prop('disabled', false);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                    }
                });
            });
        });
    </script>
    <style>
        @font-face {
            font-family: 'Roboto';
            src: url("/web/bundles/home/fonts/Roboto-Bold.ttf");
        }
        h1,h2,h3,h4{
            font-family: Roboto;
        }
    </style>
    {% block script %}{% endblock %}
</body>
</html>