<html>
<head>
    <meta name="description" content="authentification">
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="{{ asset('bundles/home/bootstrap/css/bootstrap.min.css') }}">
    <link rel="shortcut icon" href="{{ asset('bundles/home/favicon.png') }}">
    <title>Inscrivez vous</title>
</head>
    <body>
        <div class="container-fluid" style="margin: 0 auto;">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <form action="{{ path('auth_register') }}" enctype="multipart/form-data" method="post" id="registerForm">
                        <h1 style="color: #11ABB0">
                            Inscription
                        </h1>
                        <div class="form-group">
                            <input class="form-control" type="text" required name="nom" placeholder="Entrez votre nom">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text"  name="prenom" placeholder="Entrez votre prénom">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="email" required name="email" placeholder="Entrez votre adresse email">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="number" required name="age" min="10" max="100" placeholder="Entrez votre age">
                        </div>
                        <div class="form-group">
                            <label for="male">Homme: </label><input id="male" class="" type="radio" required name="sexe" value="M">
                            <label for="femele">Femme: </label><input id="femele" class="" type="radio" required name="sexe" value="F">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="password" required name="password" placeholder="Entrez votre mot de passe">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="password" required name="confirm_password" placeholder="Confirmer votre mot de passe">
                        </div>
                        <div class="form-group">
                            <label for="photo">Photo de profil(facultatif)</label>
                            <input class="form-control" type="file" name="photo" id="photo">
                        </div>
                        <button class="btn btn-block" style="background: #11ABB0;color: #fff;" type="submit" id="register_btn">
                            S'inscrire
                        </button>
                        <div class="text-center">
                            <a href="{{ path('home_homepage') }}" class=""><i class="icon-home" style="color: #0ba0bb"></i> Retour à l'accueil</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% block script %}
            <script src="{{ asset('bundles/home/js/jquery-1.10.2.min.js') }}"></script>
            <script src="{{ asset('bundles/home/js/sweetalert/sweetalert.min.js') }}"></script>
            <script src="{{ asset('bundles/home/bootstrap/js/bootstrap.min.js') }}"></script>
            <script>
                $(document).ready(function() {
                    $(document).on('submit', '#registerForm', function(e){
                        e.preventDefault();
                        var url = $(this).attr('action'),
                            act = $('#register_btn').text();
                        var $form = $(this);
                        var formdata = (window.FormData) ? new FormData($form[0]) : null;
                        var data = (formdata !== null) ? formdata : $form.serialize();
                        $.ajax({
                            type: 'post',
                            url: url,
                            data: data,
                            contentType: false,
                            processData: false,
                            datatype: 'json',
                            beforeSend: function () {
                                $('.register_btn').text('Chargement...').prop('disabled', true);
                            },
                            success: function (json) {
                                if (json.status == 0) {
                                    swal("Succès", json.mes);
                                    window.location.reload();
                                }else{
                                    swal("Alerte!", json.mes);
                                }
                            },
                            complete: function () {
                                $('.register_btn').text(act).prop('disabled', false);
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                            }
                        });
                    });
                });
            </script>
        {% endblock %}
    </body>
</html>