<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>{% block title%}{% endblock %}</title>
        <meta charset="UTF-8">
        <meta name="description" content="{% block description %}{% endblock %}">
        <meta name="keywords" content="{% block keywords %}{% endblock %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="{{ asset('bundles/home/favicon.ico') }}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="stylesheet" href="{{ asset('bundles/home/css/base.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/home/css/layout.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/home/bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/home/css/font-awesome/css/font-awesome.css') }}">

        <!--[if lt IE 9]>
        <!--<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>->
        <![endif]-->
    </head>
    <body data-spy="scroll" data-target="#nav-wrap">
    <header class="mobile">
        <div class="row">
            <div class="col full">
                <div class="logo">
                    <a href="#"><img alt="" src="{{ asset('bundles/home/images/logo.png') }}"></a>
                </div>
                <nav id="nav-wrap">
                    <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
                    <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>
                    <ul id="nav" class="nav">
                        <li><a href="{{ path('home_homepage') }}#intro">Accueil</a></li>
                        <li><a href="{{ path('home_homepage') }}#portfolio">concert</a></li>
                        <li><a href="{{ path('home_homepage') }}#about">A propos</a></li>
                        <li><a href="{{ path('home_homepage') }}#contact">Newsletter</a></li>
                    </ul>
                </nav>
                <span style="float: right;padding: 10px; margin: 0px 50px 0 0;">
                    {% if app.session.get('user') %}
                        <a href="{{ path('home_login') }}" title="connectez vous">
                            {% if app.session.get('user').photo %}
                                <img class="img-rounded img-circle" src="/uploads/thumbnails/{{ app.session.get('user').photo }}" style="max-height: 30px" alt=""/>
                                <b>{{ app.session.get('user').nom }} {{ app.session.get('user').prenom }}</b>
                                <small><a href="{{ path('auth_logout') }}">déconnecter</a></small>
                            {% else %}
                                <img class="img-rounded img-circle" src="{{ asset('bundles/home/images/client-img.png') }}" style="max-height: 30px" alt=""/>
                                <b>{{ app.session.get('user').nom }} {{ app.session.get('user').prenom }}</b>
                                <small><a href="{{ path('auth_logout') }}">déconnecter</a></small>
                            {% endif %}
                        </a>
                    {% else %}
                        <a href="{{ path('home_dashboard') }}" title="connectez vous">
                            <img class="img-rounded img-circle" src="{{ asset('bundles/home/images/client-img.png') }}" style="max-height: 30px" alt=""/>
                            <b>Se connecter</b>
                        </a>
                    {% endif %}
                </span>
            </div>
        </div>
    </header>
    {% block body %}{% endblock %}

    <section id="contact">

        <div class="row section-head">
            <div class="col full">
                <h2>Recevoir des news</h2>
                <p class="desc">Entrez votre email et recevez des news à propos de nous.</p>
            </div>
        </div>

        <div class="row">
            <div class="col g-12">
                <form id="subscribeForm" method="post" action="{{ path('home_save_email') }}">
                    <fieldset>
                        <div>
                            <input style="margin: 0; display: inline;margin-top: 5px" type="email" name="email" placeholder="Votre adresse email" id="email">
                            <button style="margin: 0; display: inline;margin-top: 5px;color: white" class="subscribe-btn">Souscire</button>
                            <span id="image-loader">
                                <img src="{{ asset('bundles/home/images/loader.gif') }}" alt="loader" />
                            </span>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer style="background: #25292D; margin: 0; padding: 20px">
        <div class="row">
            <div class="col g-7">
                <ul class="copyright">
                    <li class="text-muted">&copy; 2019 Camer Concert</li>
                    <li class="text-muted">Contactez <a href="mailto:conctact@camerconcert.com" title="Styleshout">conctact@camerconcert.com</a></li>
                </ul>
            </div>
            <div class="col g-5 pull-right">
                <ul class="social-links">
                    <li><a href="#"><i class="icon-facebook"></i></a></li>
                    <li><a href="#"><i class="icon-twitter"></i></a></li>
                    <li><a href="#"><i class="icon-google-plus-sign"></i></a></li>
                    <li><a href="#"><i class="icon-linkedin"></i></a></li>
                    <li><a href="#"><i class="icon-skype"></i></a></li>
                    <li><a href="#"><i class="icon-rss-sign"></i></a></li>
                </ul>
            </div>
        </div>
    </footer>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ asset('bundles/home/js/jquery-1.10.2.min.js')  }}"><\/script>')</script>
    <script type="text/javascript" src="{{ asset('bundles/home/js/jquery-migrate-1.2.1.min.js') }}"></script>

    <script src="{{ asset('bundles/home/js/scrollspy.js') }}"></script>
    <script src="{{ asset('bundles/home/js/jquery.flexslider.js') }}"></script>
    <script src="{{ asset('bundles/home/js/jquery.reveal.js') }}"></script>
    <script src="http://maps.google.com/maps/api/js?sensor=true" type="text/javascript"></script>
    <script src="{{ asset('bundles/home/js/gmaps.js') }}"></script>
    <script src="{{ asset('bundles/home/js/init.js') }}"></script>
    <script src="{{ asset('bundles/home/js/smoothscrolling.js') }}"></script>
    <script src="{{ asset('bundles/home/js/sweetalert/sweetalert.min.js') }}"></script>
    <script src="{{ asset('bundles/home/bootstrap/js/bootstrap.min.js') }}"></script>

    <script>
    $('#subscribeForm').on("submit", function (e) {
        e.preventDefault();
        data = $(this).serialize();
        $.ajax({
            type: 'post',
            url: $(this).attr('action'),
            data: data,
            datatype: 'json',
            beforeSend: function () {
                $('.subscribe-btn').text('Chargement ...').prop('disabled',true);
            },
            success: function (json) {
                if(json.status == 0){
                    swal(json.message);
                }else{
                    swal("Erreur",json.message);
                }
            },
            complete: function () {
                $('.subscribe-btn').text('souscrire').prop('disabled',false);
            },
            error: function(jqXHR, textStatus, errorThrown){
            }
        });

    })

    </script>
    <script src="{{ asset('bundles/home/js/main.js') }}"></script>
    {% block script %}{% endblock %}
    </body>
</html>