{% extends "AdminBundle::layout.html.twig" %}
{% block title %} Produits {% endblock %}
{% block style %}
    <link rel="stylesheet" href="{{ asset("bundles/admin/assets/skins/dropify/css/dropify.css")}}"/>
    <link rel="stylesheet" href="{{ asset("bundles/admin/assets/plugins/morris/morris.css")}}"/>
{% endblock %}
{% block body %}
    <div class="uk-grid uk-grid-width-large-1-4 uk-grid-width-medium-1-2 uk-grid-medium uk-sortable sortable-handler hierarchical_show" data-uk-sortable data-uk-grid-margin>
        <div>
            <div class="md-card pantransaction">
                <div class="md-card-content">
                    <div class="uk-float-right uk-margin-top uk-margin-small-right">
                        <a class="md-btn md-btn-primary md-btn-mini md-btn-wave-light waves-effect waves-button waves-light dashtransaction" href="{{ path('admin_homepage') }}">Voir</a>
                    </div>
                    <span class="uk-text-muted uk-text-small">Controlleurs</span>
                    <h2 class="uk-margin-remove"><span class="countUpMe">{{ controller }}</span> <small>dossier au niveau du controlleur</small></h2>
                </div>
            </div>
        </div>
        <div>
            <div class="md-card pantransaction">
                <div class="md-card-content">
                    <span class="uk-text-muted uk-text-small">Courriers</span>
                    <h2 class="uk-margin-remove"><span class="countUpMe">{{ contSec }}</span> <small>Courriers validés par le controlleur</small></h2>
                </div>
            </div>
        </div>
        <div>
            <div class="md-card pantransaction">
                <div class="md-card-content">
                    <span class="uk-text-muted uk-text-small">Service</span>
                    <h2 class="uk-margin-remove"><span class="countUpMe">{{ serviceSolde }}</span> <small>solde et pension</small></h2>
                </div>
            </div>
        </div>
        <div>
            <div class="md-card pantransaction">
                <div class="md-card-content">
                    <span class="uk-text-muted uk-text-small">Service</span>
                    <h2 class="uk-margin-remove"><span class="countUpMe">{{ serviceBrigade }}</span> <small>Brigade regionale et contrôle budgetaire</small></h2>
                </div>
            </div>
        </div>
        <div>
            <div class="md-card pantransaction">
                <div class="md-card-content">
                    <span class="uk-text-muted uk-text-small">Service</span>
                    <h2 class="uk-margin-remove"><span class="countUpMe">{{ serviceVisa }}</span> <small>Visas</small></h2>
                </div>
            </div>
        </div>
        <div>
            <div class="md-card pantransaction">
                <div class="md-card-content">
                    <span class="uk-text-muted uk-text-small">Service</span>
                    <h2 class="uk-margin-remove"><span class="countUpMe">{{ serviceAdmin }}</span> <small>Administratif financier</small></h2>
                </div>
            </div>
        </div>
        <div>
            <div class="md-card pantransaction">
                <div class="md-card-content">
                    <span class="uk-text-muted uk-text-small">Courriers traité</span>
                    <h2 class="uk-margin-remove"><span class="countUpMe">{{ finished }}</span> <small>Courriers totalement traités</small></h2>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{{ asset("bundles/admin/assets/js/custom/dropify/dist/js/dropify.min.js") }}"></script>
    <script src="{{ asset("bundles/admin/assets/js/pages/forms_file_input.min.js") }}"></script>
    <script src="{{ asset("bundles/admin/bower_components/ckeditor/ckeditor.js") }}"></script>
    <script src="{{ asset("bundles/admin/bower_components/ckeditor/adapters/jquery.js") }}"></script>
{% endblock %}