{% extends "AdminBundle::layout.html.twig" %}
{% block title %} Produits {% endblock %}
{% block style %}
    <link rel="stylesheet" href="{{ asset("bundles/admin/assets/skins/dropify/css/dropify.css")}}"/>
{% endblock %}
{% block body %}
    <div class="md-card uk-margin-medium-bottom">
        <div class="md-card-toolbar">
            <div class="md-card-toolbar-actions">
                <i class="md-icon material-icons md-card-fullscreen-activate">&#xE5D0;</i>
                <i class="md-icon material-icons md-card-toggle">&#xE316;</i>
                <a href="{{ path('admin_homepage') }}"><i class="md-icon uk-icon-refresh"></i></a>
            </div>
            <h3 class="md-card-toolbar-heading-text">
                Produits
                <span class="uk-badge uk-badge-warning">{{ nbProduit }}</span>
            </h3>
        </div>
        <div class="md-card-content">
            <div class="">
                <form action="{{ path('admin_homepage') }}" class="contactFilter">
                    <div class="uk-grid" style="margin-top: 10px">
                        <div class="uk-width-medium-1-2">
                            <div class="">
                                <label for="uk_dp_start">Chercher par date d'ajout min</label>
                                <input type="text" class="md-input" name="begin" id="uk_dp_start" value="{{ app.request.query.get("begin") }}" />
                            </div>
                        </div>
                        <div class="uk-width-medium-1-2">
                            <div class="">
                                <label for="uk_dp_end">Chercher par date d'ajout max</label>
                                <input type="text" class="md-input" name="end" id="uk_dp_end" value="{{ app.request.query.get("end") }}" />
                            </div>
                        </div>
                    </div>
                    <div class="uk-grid" style="margin-top: 10px">
                        <div class="uk-width-medium-1-1">
                            <div class="">
                                <label for="mail_new_to">Recherche par le nom ou description du produit</label>
                                <input type="text" class="md-input" name="search" value="{{ app.request.query.get("search") }}" />
                            </div>
                        </div>
                    </div>
                    <div class="uk-grid" data-uk-grid-margin="">
                        <div class="uk-width-medium-1-2 uk-row-first">
                        </div>
                        <div class="uk-width-medium-1-2">
                            <button type="submit" class="uk-float-right md-btn md-btn-flat md-btn-flat-primary">Chercher</button>
                        </div>
                    </div>
                </form>
                <div class="uk-grid" data-uk-grid-margin="">
                    <div class="uk-width-medium-1-1">
                        <table class="uk-table uk-table-nowrap table_check">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Nom</th>
                                <th>Type</th>
                                <th>Fabricant</th>
                                <th>Prix</th>
                                <th>Date d'ajout</th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for produit in produits %}
                                <tr>
                                    <td><img src="/uploads/products_images/{{ produit.image }}" class="md-user-image"></td>
                                    <td>{{ produit.nom }}</td>
                                    <td>{{ produit.type }}</td>
                                    <td>{{ produit.fabricant }}</td>
                                    <td>{{ produit.prix }}</td>
                                    <td>{{ produit.createdat | date('d M Y')}}</td>
                                    <td><a href="{{ path('admin_stock_add', {id: produit.id}) }}" class="uk-badge uk-badge-primary">Stocks</a></td>
                                    <td>
                                        <a class='editProduit' data-uk-tooltip="{pos:'top'}" title="Modifier le produit" data-id="{{ produit.id }}" data-description="{{ produit.description }}"
                                           data-nom="{{ produit.nom }}" data-type="{{ produit.type }}"  data-fabricant="{{ produit.fabricant }}"
                                        data-prix="{{ produit.prix }}"><i class='uk-icon-edit uk-icon-medium'></i></a>
                                        <a class='deleteProduit' data-url="{{ path('admin_produit_delete', {id: produit.id}) }}" data-id="{{ produit.id }}" data-nom="{{ produit.nom }}"><i class='uk-icon-trash uk-icon-medium uk-text-danger'></i></a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr><td colspan="9" class="uk-text-danger uk-text-center">Aucun produit</td></tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <table class="uk-grid">
                    <tfoot class="uk-width-medium-1-1">
                        <tr>
                            {% if nbPage > 1 %}
                                <td colspan="5">
                                    <ul class="uk-pagination uk-margin-medium-top">
                                        <li class="{% if page <= 1 %}disabled{% endif %}">
                                            <a href="{% if page > 1 %}{{ path("admin_homepage") }}?page={{ page-1 }}&begin={{ app.request.query.get("begin") }}&end={{ app.request.query.get("end") }}&search={{ app.request.query.get("search") }}
                                            {% else %}#{% endif %}">précédent</a>
                                        </li>
                                        {% for nb in range(1, nbPage) %}
                                            <li class="{% if page == nb %}active{% endif %}">
                                                <a href="{% if page != nb %} {{ path("admin_homepage") }}?page={{ nb }}&begin={{ app.request.query.get("begin") }}&end={{ app.request.query.get("end")}}&search={{ app.request.query.get("search") }}
                                                 {% endif %}">
                                                    {{ nb }}
                                                </a>
                                            </li>
                                        {% endfor %}
                                        <li class="{% if page >= nbPage %}disabled{% endif %}">
                                            <a href="{% if page < nbPage  %}{{ path("admin_homepage") }}?page={{ page+1 }}&begin={{ app.request.query.get("begin") }}&end={{ app.request.query.get("end") }}&search={{ app.request.query.get("search") }}{% else %}#{% endif %}">suivant</a>
                                        </li>
                                    </ul>
                                </td>
                            {% endif %}
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <div class="md-fab-wrapper">
        <a class="md-fab md-fab-accent md-fab-wave" id="addProduit" href="#" data-uk-modal="{center:true}">
            <i class="material-icons"></i>
        </a>
    </div>

    <div class="uk-modal" id="modalProduit">
        <div class="uk-modal-dialog" style="width: 50%;">
            <button class="uk-modal-close uk-close" type="button"></button>
            <form action="{{ path('admin_produit_add') }}" id="formProduit" method="post" enctype="multipart/form-data">
                <div class="uk-modal-header">
                    <h3 class="heading_b uk-margin-bottom titleForm">Ajoutez un nouveau produit</h3>
                    <div class="text-center" id="messageformSalle"></div>
                </div>
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-1">
                        <div class="parsley-row">
                            <input type="hidden" id="id" name="id">
                            <input type="text" placeholder="Nom du produit" required name="nom" id="nom" class="md-input">
                        </div>
                    </div>
                </div>
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-1">
                        <div class="parsley-row">
                            <input type="number" placeholder="Prix du produit" required name="prix" id="prix" class="md-input">
                        </div>
                    </div>
                </div>
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-1">
                        <div class="parsley-row">
                            <input type="text" required name="fabricant" id="fabricant" placeholder="Nom du fabricant" class="md-input">
                        </div>
                    </div>
                </div>
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-1">
                        <div class="parsley-row">
                            <h4>Type du produit</h4>
                            <select name="type" id="type" class="md-input">
                                <option value="Equipements réseaux">Equipements réseaux</option>
                                <option value="Câbles">Câbles</option>
                                <option value="Connecteurs">Connecteurs</option>
                                <option value="Routeurs">Routeurs</option>
                                <option value="Autres">Autres</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-1">
                        <div class="parsley-row">
                            <h4>Description du produit</h4>
                            <textarea name="description" id="description" rows="1" placeholder="Faites une brève ou longue description du produit" class="md-input"></textarea>
                        </div>
                    </div>
                </div>
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-1">
                        <div class="parsley-row">
                            <h4>Ajouter une image à l'appui</h4>
                            <input type="file" name="image">
                        </div>
                    </div>
                </div>
                <div class="uk-modal-footer">
                    <a href="#" class="md-icon-btn"><i class="md-icon uk-icon-save"></i></a>
                    <button type="submit" class="sendBtn uk-float-right md-btn md-btn-flat md-btn-flat-primary">Ajouter</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
{% block scripts %}
    <script src="{{ asset("bundles/admin/assets/js/custom/dropify/dist/js/dropify.min.js") }}"></script>
    <script src="{{ asset("bundles/admin/assets/js/pages/forms_file_input.min.js") }}"></script>
    <script src="{{ asset("bundles/admin/bower_components/ckeditor/ckeditor.js") }}"></script>
    <script src="{{ asset("bundles/admin/bower_components/ckeditor/adapters/jquery.js") }}"></script>
    <script src="{{ asset("bundles/admin/assets/js/produit.js") }}"></script>
{% endblock %}