{% extends "AdminBundle::layout.html.twig" %}
{% block title %} {{ produit.nom }}-Stocks  {% endblock %}
{% block style %}
    <link rel="stylesheet" href="{{ asset("bundles/admin/assets/skins/dropify/css/dropify.css")}}"/>
{% endblock %}
{% block body %}
    <div class="md-card uk-margin-medium-bottom">
        <div class="md-card-toolbar">
            <div class="md-card-toolbar-actions">
                <i class="md-icon material-icons md-card-fullscreen-activate">&#xE5D0;</i>
                <i class="md-icon material-icons md-card-toggle">&#xE316;</i>
                <a href="{{ path('admin_stock', {id: produit.id}) }}"><i class="md-icon uk-icon-refresh"></i></a>
            </div>
            <h3 class="md-card-toolbar-heading-text">
                {{ produit.nom }}
                <span class="uk-badge uk-badge-warning">{{ produit.stocks | length }}</span>
            </h3>
        </div>
        <div class="md-card-content">
            <p>{{ produit.description }}</p>
            <div>
                <div class="uk-grid" data-uk-grid-margin="">
                    <div class="uk-width-medium-1-1">
                        <table class="uk-table uk-table-nowrap table_check">
                            <tbody>
                            {% for stock in produit.stocks %}
                                {% if stock.quantite > 0 %}
                                    <tr>
                                        <td>
                                            <span class="uk-badge uk-badge-primary">{{ stock.quantite }}</span>  produit(s) ajouté le <i>{{ stock.createdat | date('d M Y à h:i')}}</i>
                                            {% if loop.index == 1 %}
                                                <a class='editStock uk-margin-large-left' data-uk-tooltip="{pos:'top'}" title="Modifier le stock" data-url="{{ path('admin_stock_modify', {id: stock.id}) }}" data-quantite="{{ stock.quantite }}"><i class='uk-icon-edit uk-icon-medium'></i></a>
                                                <a class='deleteStock' data-url="{{ path('admin_stock_delete', {id: stock.id}) }}" data-uk-tooltip="{pos:'top'}" title="Supprimer le stock"><i class='uk-icon-trash uk-icon-medium uk-text-danger'></i></a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endif %}
                            {% else %}
                                <tr><td class="uk-text-danger uk-text-center">Aucun stock ajouté</td></tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="md-fab-wrapper">
        <a class="md-fab md-fab-accent md-fab-wave" id="addStock" href="#" data-url="{{ path('admin_stock_add', {id: produit.id}) }}" data-uk-modal="{center:true}">
            <i class="material-icons"></i>
        </a>
    </div>

    <div class="uk-modal" id="modalStock">
        <div class="uk-modal-dialog" style="width: 50%;">
            <button class="uk-modal-close uk-close" type="button"></button>
            <form action="{{ path('admin_stock_add', {id: produit.id}) }}" id="formStock" method="post">
                <div class="uk-modal-header">
                    <h3 class="heading_b uk-margin-bottom titleForm">Ajoutez un nouveau stock</h3>
                    <div class="text-center" id="messageformSalle"></div>
                </div>
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-1">
                        <div class="parsley-row">
                            <h4>Quantité</h4>
                            <input type="number" name="quantite" id="quantite" class="md-input">
                        </div>
                    </div>
                </div>
                <div class="uk-modal-footer">
                    <a href="#" class="md-icon-btn"><i class="md-icon uk-icon-save"></i></a>
                    <button type="submit" class="sendBtn uk-float-right md-btn md-btn-flat md-btn-flat-primary">Ajouter</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
{% block scripts %}
    <script src="{{ asset("bundles/admin/assets/js/custom/dropify/dist/js/dropify.min.js") }}"></script>
    <script src="{{ asset("bundles/admin/assets/js/pages/forms_file_input.min.js") }}"></script>
    <script src="{{ asset("bundles/admin/bower_components/ckeditor/ckeditor.js") }}"></script>
    <script src="{{ asset("bundles/admin/bower_components/ckeditor/adapters/jquery.js") }}"></script>
    <script src="{{ asset("bundles/admin/assets/js/stock.js") }}"></script>
{% endblock %}