{% extends "AdminBundle::layout.html.twig" %}
{% block title %} Concerts {% endblock %}
{% block style %}
    <link rel="stylesheet" href="{{ asset("bundles/admin/assets/skins/dropify/css/dropify.css")}}"/>
{% endblock %}
{% block body %}
    <div class="md-card uk-margin-medium-bottom">
        <div class="md-card-toolbar">
            <div class="md-card-toolbar-actions">
                <i class="md-icon material-icons md-card-fullscreen-activate">&#xE5D0;</i>
                <i class="md-icon material-icons md-card-toggle">&#xE316;</i>
                <a href="{{ path('admin_homepage') }}"><i class="md-icon uk-icon-refresh"></i></a>
            </div>
            <h3 class="md-card-toolbar-heading-text">
                Liste des concerts
                <span class="uk-badge uk-badge-warning">{{ nbConcert }}</span>
            </h3>
        </div>
        <div class="md-card-content">
            <div class="">
                <form action="{{ path('admin_homepage') }}" class="contactFilter">
                    <div class="uk-grid" style="margin-top: 10px">
                        <div class="uk-width-medium-1-2">
                            <div class="">
                                <label for="uk_dp_start">Chercher par date d'ajout min</label>
                                <input type="text" class="md-input" name="begin" id="uk_dp_start" />
                            </div>
                        </div>
                        <div class="uk-width-medium-1-2">
                            <div class="">
                                <label for="uk_dp_end">Chercher par date d'ajout max</label>
                                <input type="text" class="md-input" name="end" id="uk_dp_end" />
                            </div>
                        </div>
                    </div>
                    <div class="uk-grid" style="margin-top: 10px">
                        <div class="uk-width-medium-1-1">
                            <div class="">
                                <label for="mail_new_to">Recherche par l'intitulé du concert</label>
                                <input type="text" class="md-input" name="search" />
                            </div>
                        </div>
                    </div>
                    <div class="uk-grid" data-uk-grid-margin="">
                        <div class="uk-width-medium-1-2 uk-row-first">
                        </div>
                        <div class="uk-width-medium-1-2">
                            <button type="submit" class="uk-float-right md-btn md-btn-flat md-btn-flat-primary">Chercher</button>
                        </div>
                    </div>
                </form>
                <div class="uk-grid" data-uk-grid-margin="">
                    {% for concerne in concernes %}
                        <div class="uk-width-medium-1-3">
                            <div class="md-card md-card-hover">
                                <div class="md-card-content" style="padding: 0">
                                    <div class="md-card md-card-fullscreen-activate">
                                        <div class="md-card-fullscreen-hide">
                                            <img src="/uploads/thumbnails/{{ concerne.concert.affiche }}" style="width: 100%" alt="{{ concerne.concert.intitule }}">
                                            <div class="md-card-content">
                                                <strong>{{ concerne.concert.intitule }}</strong><br>
                                                <span class="uk-text-muted">Le {{ concerne.concert.date | date('d-m-y')}} à {{ concerne.concert.heure | date('h:m') }}</span>
                                                <p>{{ concerne.concert.description }}</p>
                                            </div>
                                        </div>
                                        <div class="md-card-fullscreen-content">
                                            <div class="uk-article">
                                                <h1 class="uk-article-title">{{ concerne.concert.intitule }}</h1>
                                                <img src="/uploads/thumbnails/{{ concerne.concert.affiche }}" style="width: 100%" alt="{{ concerne.concert.intitule }}">
                                                <p class="uk-article-meta">
                                                    Date de deroulement:  Le {{ concerne.concert.date | date('d-m-y')}}à {{ concerne.concert.heure | date('h:m') }}

                                                </p>
                                                <hr style="margin: 30px 0">
                                                {{ concerne.concert.description }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="md-fab-wrapper md-fab-in-card">
                                    <div class="md-fab md-fab-small md-fab-warning md-fab-sheet">
                                        <i class="material-icons"></i>
                                        <div class="md-fab-sheet-actions">
                                            <a data-id="{{ concerne.concert.id }}" data-intitule="{{ concerne.concert.intitule }}"
                                               data-description="{{ concerne.concert.description }}" data-prix="{{ concerne.concert.prix }}" data-nbplace="{{ concerne.concert.nbPlace }}"
                                               data-salle="{{ concerne.concert.sal.id }}" data-date="{{ concerne.concert.date | date('d-m-y') }}"  data-time="{{ concerne.concert.heure | date('h:m') }}" data-artiste="{{ concerne.artiste.id }}"
                                               href="javascript:void(0)" class="editConcert md-color-white"><i class="material-icons md-color-white"></i> Modifier</a>
                                            <a data-id="{{ concerne.concert.id }}" href="javascript:void(0)" class="changeConcert md-color-white"><i class="material-icons md-color-white"></i> Changer l'image</a>
                                            <a data-id="{{ concerne.concert.id }}" data-url="{{ path('admin_concert_delete') }}" href="javascript:void(0)" class="deleteConcert md-color-white"><i class="material-icons md-color-white"></i> Supprimer</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="uk-width-medium-1-1 uk-text-danger uk-text-center">
                            Aucun concert ajouté
                        </div>
                    {% endfor %}
                </div>
                <table class="uk-grid">
                    <tfoot class="uk-width-medium-1-1">
                        <tr>
                            {% if nbPage > 1 %}
                                <td colspan="5">
                                    <ul class="uk-pagination uk-margin-medium-top">
                                        <li class="{% if page <= 1 %}disabled{% endif %}">
                                            <a href="{% if page > 1 %}{{ path("admin_homepage") }}?page={{ page-1 }}&begin={{ app.request.query.get("begin") }}&end={{ app.request.query.get("end") }}
                                            {% else %}#{% endif %}">précédent</a>
                                        </li>
                                        {% for nb in range(1, nbPage) %}
                                            <li class="{% if page == nb %}active{% endif %}">
                                                <a href="{% if page != nb %} {{ path("admin_homepage") }}?page={{ nb }}&begin={{ app.request.query.get("begin") }}&end={{ app.request.query.get("end")}}
                                                 {% endif %}">
                                                    {{ nb }}
                                                </a>
                                            </li>
                                        {% endfor %}
                                        <li class="{% if page >= nbPage %}disabled{% endif %}">
                                            <a href="{% if page < nbPage  %}{{ path("admin_homepage") }}?page={{ page+1 }}&begin={{ app.request.query.get("begin") }}&end={{ app.request.query.get("end") }}{% else %}#{% endif %}">suivant</a>
                                        </li>
                                    </ul>
                                </td>
                            {% endif %}
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

    <div class="md-fab-wrapper">
        <a class="md-fab md-fab-accent md-fab-wave" id="addConcert" href="#" data-uk-modal="{center:true}">
            <i class="material-icons"></i>
        </a>
    </div>

    <div class="uk-modal" id="modalConcert">
        <div class="uk-modal-dialog" style="width: 75%;">
            <button class="uk-modal-close uk-close" type="button"></button>
            <form action="{{ path('admin_concert_edit') }}" id="formConcert" method="post">
                <div class="uk-modal-header">
                    <h3 class="heading_b uk-margin-bottom titleForm">Ajouté un nouveau concert</h3>
                    <div class="text-center" id="messageformSalle"></div>
                </div>
                <div class="uk-grid" data-uk-grid-margin>
                    <input type="hidden" id="id" name="id">
                    <input type="hidden" name="action" id="action">
                    <div class="uk-width-medium-1-1">
                        <div class="parsley-row">
                            <label for="nom">Intitule<span class="req">*</span></label>
                            <input type="text" name="intitule" id="intitule" required class="md-input" />
                        </div>
                    </div>
                </div>
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-1">
                        <div class="parsley-row">
                            <label for="description">Ajouter une description pour ce concert<span class="req">*</span></label>
                            <textarea name="description" id="description" rows="3" class="md-input"></textarea>
                        </div>
                    </div>
                </div>
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-2">
                        <div class="parsley-row">
                            <label for="prix">Prix<span class="req">*</span></label>
                            <input type="number" id="prix" name="prix" min="1000" class="md-input">
                        </div>
                    </div>
                    <div class="uk-width-medium-1-2">
                        <div class="parsley-row">
                            <label for="nbPlace">Nombre de place<span class="req">*</span></label>
                            <input type="number" id="nbPlace" name="nbPlace" min="100" class="md-input">
                        </div>
                    </div>
                </div>
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-1">
                        <div class="parsley-row">
                            {% if salles is not empty %}
                                <select name="salle" class="uk-form-select md-input" id="salle">
                                    <option value="">Choisissez une salle</option>
                                    {% for salle in salles %}
                                        <option value="{{ salle.id }}">{{ salle.nom }} de {{ salle.lieu }} - {{ salle.capacite }} places</option>
                                    {% endfor %}
                                </select>
                            {% else %}
                                <span class="uk-badge-danger" style="color: white; padding: 3px"><i class="uk-icon-warning" style="color: white"></i> Aucune salle disponible. Veuillez rajouter une salle d'abord! <a
                                            href="{{ path('admin_artiste') }}"> cliquez ici <i class="uk-icon-hand-pointer-o"></i></a></span>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-1">
                        <div class="parsley-row">
                            <h4>Artistes</h4>
                            {% if artistes is not empty %}
                                <select name="artistes[]" multiple="multiple" class="uk-form-select md-input" id="artistes">
                                    <option value="">Choisissez les artistes pour ce concert</option>
                                    {% for artiste in artistes %}
                                        <option value="{{ artiste.id }}">{{ artiste.nom }}  {{ artiste.prenom }}</option>
                                    {% endfor %}
                                </select>
                            {% else %}
                                <span class="uk-badge-danger" style="color: white; padding: 3px"><i class="uk-icon-warning" style="color: white"></i> Aucun artiste disponible. Veuillez rajouter un artiste <a
                                            href="{{ path('admin_artiste') }}"> cliquez ici <i class="uk-icon-hand-pointer-o"></i></a>
                                </span>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-2">
                        <div class="parsley-row">
                            <h4>Date du concert</h4>
                            <input type="text" name="date" id="date" class="md-input">
                        </div>
                    </div>
                    <div class="uk-width-medium-1-2">
                        <div class="parsley-row">
                            <h4>Heure du concert</h4>
                            <input type="text" name="time" id="time" class="md-input">
                        </div>
                    </div>
                </div>
                <div id="pictureContent">
                    <div class="uk-grid" data-uk-grid-margin>
                        <div class="uk-width-medium-1-1">
                            <div class="">
                                <div class="" style="padding-top: 15px;" >
                                    <h3 class="heading_a uk-margin-small-bottom">
                                        Affiche du concert
                                    </h3>
                                    <input type="file" id="input-file-a" accept="image/*" name="affiche" class="dropify" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="uk-modal-footer">
                    <a href="#" class="md-icon-btn"><i class="md-icon uk-icon-save"></i></a>
                    <button type="submit" class="sendBtn uk-float-right md-btn md-btn-flat md-btn-flat-primary">AJOUTER</button>
                </div>
            </form>
        </div>
    </div>
    <!-- Changement de la photo-->
    <div class="uk-modal" id="addPicture">
        <div class="uk-modal-dialog">
            <button class="uk-modal-close uk-close" type="button"></button>
            <form action="{{ path('admin_concert_change_affiche') }}" id="addPictureForm" method="post">
                <h3 class="heading_b uk-margin-bottom titleForm">CHANGER L'AFFICHE DU CONCERT</h3>
                <div id="messageformImage"></div>
                <input type="hidden" id="idImage" name="id">
                <div id="pictureContent">
                    <div class="uk-grid" data-uk-grid-margin>
                        <div class="uk-width-medium-1-1">
                            <div class="">
                                <div class="" style="padding-top: 15px;" >
                                    <h3 class="heading_a uk-margin-small-bottom">
                                        Affiche
                                    </h3>
                                    <input type="file" id="input-file-a" accept="image/*" name="affiche" class="dropify" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="uk-modal-footer">
                    <a href="#" class="md-icon-btn"><i class="md-icon uk-icon-save"></i></a>
                    <button type="submit" class="addBtn uk-float-right md-btn md-btn-flat md-btn-flat-primary">MODIFIER</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{{ asset("bundles/admin/assets/js/custom/dropify/dist/js/dropify.min.js") }}"></script>
    <script src="{{ asset("bundles/admin/assets/js/pages/forms_file_input.min.js") }}"></script>
    <script src="{{ asset("bundles/admin/bower_components/ckeditor/ckeditor.js") }}"></script>
    <script src="{{ asset("bundles/admin/bower_components/ckeditor/adapters/jquery.js") }}"></script>
    <script src="{{ asset("bundles/admin/assets/js/concert.js") }}"></script>
{% endblock %}