{% extends "AdminBundle::layout.html.twig" %}
{% block title %} Slides {% endblock %}
{% block titleContent %} Slides {% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-white">
                <div class="panel-heading">
                    <h5 class="panel-title">Slides</h5>
                    <div class="panel-control">
                        {% if nbSlide <= 2 %}
                            <a href="javascript:void(0);" data-toggle="tooltip" class="new" data-original-title="Nouveau slide">
                                <i class="icon-plus text-success fa-2x"></i>
                            </a>
                        {% endif %}
                        <a href="javascript:void(0);" data-toggle="tooltip" class="panel-collapse" data-original-title="Reduire/Agrandir">
                            <i class="icon-arrow-down fa-2x"></i>
                        </a>
                        <a href="" data-toggle="tooltip" class="panel-reload" data-original-title="Rafraichir">
                            <i class="icon-reload fa-2x"></i>
                        </a>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row m-t-sm">
                        <form action="" method="get">
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <input  type="text" class="form-control"
                                    data-toggle="tooltip" data-original-title="Chercher par date min" name="begin" id="debut" placeholder="Chercher par date min">
                                </div>
                                <div class="col-md-6 form-group">
                                    <input  type="text" class="form-control"
                                    data-toggle="tooltip" data-original-title="Chercher par date max" name="end" id="end" placeholder="Chercher par date max">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-offset-10 col-md-2">
                                    <button class="btn btn-block btn-warning" type="submit">Chercher</button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="row m-t-sm">
                        <div class="col-md-12">
                            <div class="table-responsive project-stats">
                                <table class="table table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th>Image</th>
                                            <th>titre</th>
                                            <th>texte</th>
                                            <th>#</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for slide in slides %}
                                            <tr>
                                                <td><img style="width: 40px" src="/uploads/slides/{{ slide.image }}" alt="{{ slide.title }}" title="{{ slide.title }}"></td>
                                                <td>{{ slide.title }}</td>
                                                <td>{{ slide.text }}</td>
                                                <td>
                                                    <div class="btn-group">
                                                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                            Actions <span class="caret"></span>
                                                        </button>
                                                        <ul class="dropdown-menu" role="menu">
                                                            <li>
                                                                <a href="#" data-id="{{ slide.id }}" data-title="{{ slide.title }}"
                                                                   data-text="{{ slide.text }}" data-slide="/uploads/slides/{{ slide.image }}" class="edit">Modifier</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% else %}
                                            <tr class="text-center text-info">
                                                <td colspan="5">Aucun slide enregistré</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade newModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h2 class="modal-title titleForm">NOUVEAU SLIDE</h2>
                </div>
                <form action="{{ path("admin_edit_slide") }}" id="newForm" method="post">
                    <div class="modal-body">
                        <input  id="idElement" name="id" value="" type="hidden">
                        <div class="row show-image">
                            <div class="col-md-12">
                                <img style="max-width: 200px" src="#" alt="image" id="slideImage">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 form-group">
                                <label for="title">Titre</label>
                                <input  class="form-control" id="title" name="title" placeholder="Titre du slide" type="text" required>
                            </div>
                            <div class="col-md-12 form-group">
                                <label for="text">Text</label>
                                <input  class="form-control" id="text" name="text" placeholder="Petite description(moins de 50 caratères)" type="text" required>
                            </div>
                            <div class="col-md-12 form-group">
                                <label for="image">Image</label>
                                <input  class="form-control" id="image" name="image" type="file">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="newBtn btn btn-success">AJOUTER</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{{ asset("bundles/admin/assets/js/slide.js") }}"></script>
{% endblock %}