{% extends "HomeBundle::layout.html.twig" %}

{% block title %}A propos-Nop Agency{% endblock %}
{% block body %}
    <!-- Page Info section -->
    <section class="page-info-section set-bg" data-setbg="{{ asset('bundles/home/img/page-top-bg/1.png') }}">
        <img src="{{ asset('bundles/home/img/page-top-bg/page-info-img.png') }}" alt="" class="page-info-img">
        <div class="container">
            <h2>A propos</h2>
            <div class="site-breadcrumb">
                <a href="{{ path('home_homepage') }}">Accueil</a> /
                <span>A propos</span>
            </div>
        </div>
    </section>
    <!-- Page Info end -->


    <!-- About section -->
    <section class="about-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 order-2 order-lg-1 about-text">
                    <div class="sp-title">
                        <span>Nop Agency</span>
                        <h4>Description</h4>
                    </div>
                    <p>Nop Agency, la nouvelle agence d'influenceur basé au Cameroun dans la ville de Douala. Nop Agency vous accompagne, vous les influenceurs à travers le monde dans l'exercice de vos activité.</p>
                    <a href="#" class="site-btn" target="_blank">En savoir plus</a>
                </div>
                <div class="col-lg-6  order-1 order-lg-2">
                    <img src="{{ asset('bundles/home/img/about-img.jpg') }}" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- About section end -->


    <!-- About page section  -->
    <section class="ap-course-section">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="course-item">
                        <div class="ci-icon">
                            <i class="flaticon-002-yin-yang"></i>
                        </div>
                        <h4>Enfants &amp; Adultes</h4>
                        <p>Plateforme ouverte aussi bien aux enfants qu'au adultes ayant de la notoriété sur les réseaux sociaux</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="course-item">
                        <div class="ci-icon">
                            <i class="flaticon-001-meditation i-fix"></i>
                        </div>
                        <h4>Règles et consignes</h4>
                        <p>Consignes et règles établies avec clarté afin de vous accompagnez dans l'exercice de vos fonctions au sein de notre structure</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="course-item">
                        <div class="ci-icon">
                            <i class="flaticon-021-yoga-mat"></i>
                        </div>
                        <h4>Suivi &amp; Formation</h4>
                        <p>Notre équipe suit chaque influenceur afin d'augmenter davantage leur côte sur les réseaux sociaux</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About page section end -->


    <!-- Appointment section -->
    <section class="appointment-section set-bg" data-setbg="{{ asset('bundles/home/img/appointment-bg.jpg') }}">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="appointment-img">
                        <img src="{{ asset('bundles/home/img/appointment-icon.png') }}" alt="">
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="appointment-text text-white">
                        <span>Nop Agency</span>
                        <h2>Gain et Popularité</h2>
                        <p>Faites un max de gain et devenez de plus en plus populaire grâce à Nop Agency. Rencontrez des stars et travaillez avec des entreprises de partout dans le monde par le biais de Nop Agency.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block script %}

{% endblock %}