{% extends "HomeBundle::layout.html.twig" %}

{% block title %}Nop Agency{% endblock %}
{% block body %}
    <section class="hero-section set-bg" data-setbg="{{ asset('bundles/home/img/hero-bg.png') }}" style="background-image: url('{{ asset('bundles/home/img/hero-icon.png') }}');">
        <div class="hero-content-warp">
            <div class="container">
                <div class="hero-content">
                    <img src="{{ asset('bundles/home/img/hero-icon.png') }}" alt="">
                    <h2>Welcome to <span>Nop Agency</span></h2>
                    <p>Agence d'influenceur basé à Douala. Devenez dès à présent un influenceur</p>
                    <a href="{{ path('home_register') }}" class="site-btn">S'inscrire</a>
                </div>
            </div>
            <img src="{{ asset('bundles/home/img/hero-img.png') }}" class="hero-img" alt="">
        </div>
    </section>

    <!-- Services-->
    <section class="courses-section">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="course-item">
                        <div class="ci-icon">
                            <i class="flaticon-002-yin-yang"></i>
                        </div>
                        <h4>Enfants &amp; Adultes</h4>
                        <p>Plateforme ouverte aussi bien aux enfants qu'au adultes ayant de la notoriété sur les réseaux sociaux</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="course-item">
                        <div class="ci-icon">
                            <i class="flaticon-001-meditation i-fix"></i>
                        </div>
                        <h4>Règles et consignes</h4>
                        <p>Consignes et règles établies avec clarté afin de vous accompagnez dans l'exercice de vos fonctions au sein de notre structure</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="course-item">
                        <div class="ci-icon">
                            <i class="flaticon-021-yoga-mat"></i>
                        </div>
                        <h4>Suivi &amp; Formation</h4>
                        <p>Notre équipe suit chaque influenceur afin d'augmenter davantage leur côte sur les réseaux sociaux</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="meditation-section set-bg" data-setbg="{{ asset('bundles/home/img/meditation-bg.png') }}" style="background-image: url('{{ asset('bundles/home/img/meditation-bg.png') }}');">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="meditation-content">
                        <div class="sp-title text-white">
                            <span>Now starting</span>
                            <h4>Commencer dès maintenant</h4>
                        </div>
                        <p>Découvrez la large gamme d'influenceur dont l'on dispose. Des influenceurs les plus haut top et les plus vu sur les réseaux. Rejoignez nous et vous en deviendriez un</p>
                        <a href="{{ path('home_influencer') }}" class="site-btn">Découvrir</a>
                    </div>
                </div>
            </div>
        </div>
        <img src="{{ asset('bundles/home/img/meditation-img.png') }}" class="meditation-img" alt="">
    </section>

    <!-- work time-->
    <section class="timetable-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-9">
                    <div class="timetable-box">
                        <div class="sp-title">
                            <h4>Heure de travail</h4>
                        </div>
                        <ul>
                            <li><span>Lundi</span>08:00 - 22:00</li>
                            <li><span>Mardi</span>08:00 - 22:00</li>
                            <li><span>Mercredi</span>08:00 - 22:00</li>
                            <li><span>Jeudi</span>08:00 - 22:00</li>
                            <li><span>Vendredi</span>08:00 - 22:00</li>
                            <li><span>Samedi</span>08:00 - 22:00</li>
                            <li><span>Dimanche</span>Indisponible</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="timetable-text">
                        <div class="sp-title">
                            <h4>Nos heures de travail</h4>
                        </div>
                        <p>
                            Nous sommmes disponibles de lundi à samedi. Pour l'encadremment et le suivi de nos influenceurs ainsi que l'attribution de leur différentes tâches.
                        </p>
                        <div class="site-progress-bars">
                            <div class="progress-item">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"><span>60%</span></div>
                                </div>
                                <p>Suivi</p>
                            </div>
                            <div class="progress-item">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 87%;" aria-valuenow="87" aria-valuemin="0" aria-valuemax="100"><span>87%</span></div>
                                </div>
                                <p>Travail</p>
                            </div>
                            <div class="progress-item">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"><span>70%</span></div>
                                </div>
                                <p>Formation</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block script %}
    <script>
        $('#formCommentaire').on("submit", function (e) {
            e.preventDefault();
            data = $(this).serialize();
            $.ajax({
                type: 'post',
                url: $(this).attr('action'),
                data: data,
                datatype: 'json',
                beforeSend: function () {
                    $('#btn-commentaire').text('Chargement ...').prop('disabled',true);
                },
                success: function (json) {
                    if(json.status == 0){
                        swal(json.message);
                        $('#commentaire').val('');
                    }else{
                        swal("Erreur",json.message);
                    }
                },
                complete: function () {
                    $('#btn-commentaire').text('souscrire').prop('disabled',false);
                },
                error: function(jqXHR, textStatus, errorThrown){
                }
            });

        })
    </script>
{% endblock %}