{% extends "HomeBundle::layout.html.twig" %}

{% block title %}Nop Agency{% endblock %}
{% block body %}
    <section class="hero-section set-bg" data-setbg="{{ asset('bundles/home/img/hero-bg.png') }}" style="background-image: url('{{ asset('bundles/home/img/hero-icon.png') }}');">
        <div class="hero-content-warp">
            <div class="container">
                <div class="hero-content">
                    <img src="{{ asset('bundles/home/img/hero-icon.png') }}" alt="">
                    <h2>Find your inner <span>CHI</span></h2>
                    <p>Fusce erat dui, venenatis et erat in, vulputate dignissim lacus. Donec vitae tempus dolor, sit amet elementum lorem. Ut cursus tempor turpis.</p>
                    <a href="#" class="site-btn">S'inscrire en tant qu'influenceur</a>
                </div>
            </div>
            <img src="{{ asset('bundles/home/img/hero-img.png') }}" class="hero-img" alt="">
        </div>
    </section>

    <!-- Services-->
    <section class="courses-section">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="course-item">
                        <div class="ci-icon">
                            <i class="flaticon-002-yin-yang"></i>
                        </div>
                        <span>Begginer &amp; Advanced</span>
                        <h4>Yoga</h4>
                        <p>Etiam pretium, nibh vitae varius ultricies, tellus diam gravida elit, vel rhoncus eros eros sit amet ipsum. Cras cursus pellentesque tortor</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="course-item">
                        <div class="ci-icon">
                            <i class="flaticon-001-meditation i-fix"></i>
                        </div>
                        <span>Begginer &amp; Advanced</span>
                        <h4>Hatha</h4>
                        <p>Etiam pretium, nibh vitae varius ultricies, tellus diam gravida elit, vel rhoncus eros eros sit amet ipsum. Cras cursus pellentesque tortor</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="course-item">
                        <div class="ci-icon">
                            <i class="flaticon-021-yoga-mat"></i>
                        </div>
                        <span>Begginer &amp; Advanced</span>
                        <h4>Pilates</h4>
                        <p>Etiam pretium, nibh vitae varius ultricies, tellus diam gravida elit, vel rhoncus eros eros sit amet ipsum. Cras cursus pellentesque tortor</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="meditation-section set-bg" data-setbg="{{ asset('bundles/home/img/meditation-bg.png') }}" style="background-image: url('{{ asset('bundles/home/img/meditation-bg.png') }}');">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="meditation-content">
                        <div class="sp-title text-white">
                            <span>Begginer &amp; Advanced</span>
                            <h4>Meditation Sessions</h4>
                        </div>
                        <p>Etiam pretium, nibh vitae varius ultricies, tellus diam gravida elit, vel rhoncus eros eros sit amet ipsum. Cras cursus pellentesque tortor. Ut pellentesque auctor lorem, at maximus lacus faucibus nec. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris auctor nunc non nulla euismod consequat. Pellentesque non mattis nulla. Fusce quis tempor risus, non elementum dui. Curabitur et mattis ex, a ultrices lorem. </p>
                        <a href="#" class="site-btn">discover</a>
                    </div>
                </div>
            </div>
        </div>
        <img src="{{ asset('bundles/home/img/meditation-img.png') }}" class="meditation-img" alt="">
    </section>

    <!-- work time-->
    <section class="timetable-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-9">
                    <div class="timetable-box">
                        <div class="sp-title">
                            <h4>Heure de travail</h4>
                        </div>
                        <ul>
                            <li><span>Lundi</span>08:00 - 22:00</li>
                            <li><span>Mardi</span>08:00 - 22:00</li>
                            <li><span>Mercredi</span>08:00 - 22:00</li>
                            <li><span>Jeudi</span>08:00 - 22:00</li>
                            <li><span>Vendredi</span>08:00 - 22:00</li>
                            <li><span>Samedi</span>08:00 - 22:00</li>
                            <li><span>Dimanche</span>Indisponible</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="timetable-text">
                        <div class="sp-title">
                            <h4>Meditation Sessions</h4>
                        </div>
                        <p>Etiam pretium, nibh vitae varius ultricies, tellus diam gravida elit, vel rhoncus eros eros sit amet ipsum. Cras cursus pellentesque tortor. Ut pellentesque auctor lorem, at maximus lacus faucibus nec. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris auctor nunc non nulla euismod consequat. Pellentesque non mattis nulla. Fusce quis tempor risus, non elementum dui. Curabitur et mattis ex, a ultrices lorem. </p>
                        <div class="site-progress-bars">
                            <div class="progress-item">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"><span>60%</span></div>
                                </div>
                                <p>Breathing</p>
                            </div>
                            <div class="progress-item">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 87%;" aria-valuenow="87" aria-valuemin="0" aria-valuemax="100"><span>87%</span></div>
                                </div>
                                <p>Meditation</p>
                            </div>
                            <div class="progress-item">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"><span>70%</span></div>
                                </div>
                                <p>Flexibility</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Gallery section -->
    <div class="gallery-section">
        <div class="gallery-slider owl-carousel">
            <div class="gallery-item">
                <img src="{{ asset('bundles/home/img/gallery/1.jpg') }}" alt="">
            </div>
            <div class="gallery-item">
                <img src="{{ asset('bundles/home/img/gallery/2.jpg') }}" alt="">
            </div>
            <div class="gallery-item">
                <img src="{{ asset('bundles/home/img/gallery/3.jpg') }}" alt="">
            </div>
            <div class="gallery-item">
                <img src="{{ asset('bundles/home/img/gallery/4.jpg') }}" alt="">
            </div>
            <div class="gallery-item">
                <img src="{{ asset('bundles/home/img/gallery/5.jpg') }}" alt="">
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        $('#formCommentaire').on("submit", function (e) {
            e.preventDefault();
            data = $(this).serialize();
            $.ajax({
                type: 'post',
                url: $(this).attr('action'),
                data: data,
                datatype: 'json',
                beforeSend: function () {
                    $('#btn-commentaire').text('Chargement ...').prop('disabled',true);
                },
                success: function (json) {
                    if(json.status == 0){
                        swal(json.message);
                        $('#commentaire').val('');
                    }else{
                        swal("Erreur",json.message);
                    }
                },
                complete: function () {
                    $('#btn-commentaire').text('souscrire').prop('disabled',false);
                },
                error: function(jqXHR, textStatus, errorThrown){
                }
            });

        })
    </script>
{% endblock %}