{% extends "HomeBundle::layout.html.twig" %}

{% block title %} ME-{{ app.session.get("user").nom }} {% endblock %}
{% block body %}
    <div class="jumbotron">
        <h2>  Mes réservations <i class="icon-location-arrow"></i></h2>
    </div>
    <div class="row" style="margin-top: 50px">
        <div class="col-md-8 col-md-offset-2">
            <table class="table table-responsive table-bordered">
                <tbody>
                    {% for reservation in reservations %}
                        <tr>
                            <td><img src="/uploads/thumbnails/{{ reservation.con.affiche }}" alt="{{ reservation.con.intitule }}"></td>
                            <td><b>Concert: </b>{{ reservation.con.intitule }}</td>
                            <td>{{ reservation.nbplace }} place(s)</td>
                            <td><b>{{ reservation.code }}</b></td>
                            <td><a href="#" class="deleteReservation" data-id="{{ reservation.id }}" data-url="{{ path('home_reservation_delete') }}" title="vous seriez remboursé à 80% si vous annuler la réservation">Annuler la réservation</a></td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4" class="text-center text-danger"><i class="icon-flag-alt"></i> Aucune réservation</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        function cancelReservation (id, url) {
            if(url!='' && id!=''){
                $.ajax({
                    type: 'post',
                    data: 'id='+id,
                    url: url,
                    datatype: 'json',
                    beforeSend: function () {},
                    success: function (json) {
                        if (json.status == 0) {
                            swal(json.message);
                            window.location.reload();
                        } else {
                            swal("Erreur",json.message);
                        }
                    },
                    complete: function () {},
                    error: function (jqXHR, textStatus, errorThrown) {}
                });
            }else{
                swal("Erreur","Une erreur est survenue");
            }
        }
        $(document).on('click','.deleteReservation', function (e) {
            e.preventDefault();
            var url = $(this).data('url'),
                id = $(this).data('id');
            mess = "Êtes vous sûr de vouloir annuler cette réservation ?";
            confirm(mess)?cancelReservation(id, url):null;
        });
    </script>
{% endblock %}