<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Agence d'influenceur">
    <meta name="keywords" content="influenceur, agence, marketing">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        profil-{{ user.name }}
    </title>
    <link href="{{ asset('bundles/home/bundles/img/favicon.ico') }}" rel="shortcut icon">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{ asset('bundles/home/plugins/bootstrap-material/material-kit.min.css') }}">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="{{ asset('bundles/home/css/font-awesome.min.css') }}">
</head>

<body class="profile-page sidebar-collapse">
    <nav class="navbar navbar-transparent navbar-color-on-scroll fixed-top navbar-expand-lg" color-on-scroll="100" id="sectionsNav">
        <div class="container">
            <div class="navbar-translate">
                <a class="navbar-brand" href="{{ path('home_homepage') }}">
                    Nop Agency
                </a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="#" target="_blank" data-original-title="Follow us on Twitter">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="#" target="_blank" data-original-title="Like us on Facebook">
                            <i class="fa fa-facebook-square"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="#" target="_blank" data-original-title="Follow us on Instagram">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="page-header header-filter" data-parallax="true" style="background-image: url('/uploads/images/{{ photos[0].link }}');"></div>
    <div class="main main-raised">
        <div class="profile-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 ml-auto mr-auto">
                        <div class="profile">
                            <div class="avatar">
                                <img src="/uploads/images/{% if photos[1] is not defined %}{{ photos[0].link }}{% else %}{{ photos[1].link }}{% endif %}" alt="Circle Image" class="img-raised">
                            </div>
                            <div class="name">
                                <h3 class="title">{{ user.name }}</h3>
                                <h6>{{ user.email }}</h6>
                                {% if user.instagramlink is not empty %}<a href="{{ user.instagramlink }}" class="btn btn-just-icon btn-link btn-instagram"><i class="fa fa-instagram"></i></a>{% endif %}
                                {% if user.facebooklink is not empty %}<a href="{{ user.facebooklink }}" class="btn btn-just-icon btn-link btn-facebooklink"><i class="fa fa-facebook"></i></a>{% endif %}
                                {% if user.snapchatlink is not empty %}<a href="{{ user.snapchatlink }}" class="btn btn-just-icon btn-link btn-snapchatlink"><i class="fa fa-snapchat"></i></a>{% endif %}
                                {% if user.twitterlink is not empty %}<a href="{{ user.twitterlink }}" class="btn btn-just-icon btn-link btn-twitter"><i class="fa fa-twitter"></i></a>{% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="description text-center">
                    <p>J'ai {{ user.old }} ans , mon pays de résidence est {{ user.country }} - {{ user.language }} est ma langue la plus utilisée</p>
                    <p><b>Moyen de paiement: </b>{{ user.paymenttype }}</p>
                    <p><b>Type de partenariat: </b>{{ user.partnership.description }}</p>
                    <a href="{{ path('home_modify_profil') }}" class="btn btn-warning">Modifier mon profil</a>
                </div>
                <div class="row">
                    <div class="col-md-6 ml-auto mr-auto">
                        <div class="profile-tabs">
                            <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#studio" role="tab" data-toggle="tab">
                                        <i class="material-icons">Photos</i>  mes photos
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 offset-md-2 text-center">
                        <div class="col-md-8 offset-md-4">
                            <form id="addPhotoForm" action="{{ path('home_add_photo', {influencer: user.id}) }}" method="post">
                                <h3 class="title mb-1 text-center">
                                    <div class="text-center" style="display: block;position: relative;width: 200px;height: 50px;overflow: hidden;">
                                        <input style="position: absolute; left: 0; top: 0;opacity: 0;z-index: 2;" type="file" accept="image/*" multiple id="photos" name="photos[]" class="custom-file" required>
                                        <button style="position: absolute; left: 0; top: 0;" class="btn btn-outline-primary">Ajouter une photo +</button>
                                    </div>
                                </h3>
                                <button type="submit" class="btn" id="submit_btn" style="display: none">valider <i class="fa fa-send"></i></button>
                            </form>
                        </div>
                        <span class="bmd-form-group">
                            <div id="containerPhotos" class="m-3"></div>
                        </span>
                    </div>
                </div>
                <div class="tab-content tab-space">
                    <div class="tab-pane active text-center gallery" id="studio">
                        <div class="row text-center">
                            {% for photo in photos %}
                                <div class="col-md-3">
                                    <button class="btn btn-danger delete_image_btn" data-url="{{ path('home_remove_photo',{photo: photo.id}) }}" >x</button>
                                    <img src="/uploads/thumbnails/{{ photo.link }}" class="rounded">
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer footer-default">
        <div class="container">
            <nav class="float-left">
                <ul>
                    <li class="active"><a href="{{ path('home_homepage') }}">Accueil</a></li>
                    <li><a href="{{ path('home_influencer') }}">Influenceurs</a></li>
                    <li><a href="{{ path('home_about') }}">A propos</a></li>
                    <li><a href="{{ path('home_contact') }}">Contact</a></li>
                </ul>
            </nav>
            <div class="copyright float-right">
                <p>
                    Copyright ©<script>document.write(new Date().getFullYear());</script> All rights reserved | Nop Agency <i class="fa fa-heart-o" aria-hidden="true"></i> <a href="mailto:contact@nopagency.com">contact@nopagency.com</a>
                </p>
            </div>
        </div>
    </footer>
    <!--   Core JS Files   -->
    <script src="{{ asset('bundles/home/js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ asset('bundles/home/js/popper.min.js') }}"></script>
    <script src="{{ asset('bundles/home/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/home/plugins/bootstrap-material/bootstrap-material-design.min.js') }}"></script>
    <script src="{{ asset('bundles/home/js/sweetalert.min.js') }}"></script>
    <script>
        $(document).ready(function() {
            // remove photo
            $(document).on('click', '.delete_image_btn', function (e) {
                e.preventDefault();
                var elt = $(this);
                var url = $(this).data('url');
                swal({title: 'Êtes vous sûr de vouloir supprimer cette photo?',
                    text : '',
                    icon: 'warning',
                    buttons: true,
                    dangerMode: true
                }).then(
                    function(isOk){
                        if(isOk){
                            $.ajax({
                                type: 'post',
                                url: url,
                                datatype: 'json',
                                beforeSend: function () {
                                    elt.text('Chargement...').prop('disabled', true);
                                },
                                success: function (json) {
                                    if (json.status == 0) {
                                        swal(json.mes, '', 'success');
                                        window.location.reload();
                                    } else {
                                        swal(json.mes, '', 'error');
                                    }
                                },
                                complete: function () {
                                    elt.text("x").prop('disabled', false);
                                },
                                error: function (jqXHR, textStatus, errorThrown) {
                                }
                            });
                        }
                    }
                );
            });

            // adding photo
            $(document).on('submit', '#addPhotoForm', function (e) {
                e.preventDefault();
                var url = $(this).attr('action'),
                    act = $('#submit_btn').text();
                data = (window.FormData) ? new FormData($(this)[0]) : $(this).serialize();
                $.ajax({
                    type: 'post',
                    url: url,
                    data: data,
                    contentType: false,
                    processData: false,
                    datatype: 'json',
                    beforeSend: function () {
                        $('#submit_btn').text('Chargement...').prop('disabled', true);
                    },
                    success: function (json) {
                        if (json.status == 0) {
                            swal(json.mes, '', 'success');
                            window.location.reload();
                        } else {
                            swal(json.mes, '', 'error');
                        }
                    },
                    complete: function () {
                        $('.login_btn').text(act).prop('disabled', false);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                    }
                });
            });

            function imagePreview(file) {
                $('#containerPhotos').html('');
                if (!file.type.match('image')) return;
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#containerPhotos').html($('#containerPhotos').html() + '<img src="' + reader.result + '" style="max-width: 256px;" alt="Photos" class="">');
                };
                reader.readAsDataURL(file);
            }

            $('#photos').on('change', function (e) {
                var files = $(this).get()[0].files;
                for (var i = 0; i < files.length; i++) {
                    imagePreview(files[i]);
                }
                if (files.length >= 1)
                    $("#submit_btn").css({display: "block"});
                else
                    $("#submit_btn").css({display: "none"});
            });
        });
    </script>
</body>

</html>