<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>connexion-NopAgency</title>
        <meta charset="UTF-8">
        <meta name="description" content="Agence d'influenceur">
        <meta name="keywords" content="influenceur, agence, marketing">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Favicon -->
        <link href="{{ asset('bundles/home/bundles/img/favicon.ico') }}" rel="shortcut icon">

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

        <!-- Stylesheets -->
        <link rel="stylesheet" href="{{ asset('bundles/home/plugins/bootstrap-material/material-kit.min.css') }}">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
        <link rel="stylesheet" href="{{ asset('bundles/home/css/font-awesome.min.css') }}">

    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-md-8 ml-auto mr-auto">
                    <div class="card card-login">
                        <form class="form" id="registerForm" method="post" action="{{ path('home_modify_profil_done') }}">
                            <div class="card-header card-header-primary text-center">
                                <h4 class="card-title">Modifier mon profil</h4>
                            </div>
                            <p class="description text-center">Nop Agency</p>
                            <p class="description text-center"><a href="{{ path('home_profile') }}"><i class="fa fa-home"></i> retour à l'accueil</a></p>
                            <div class="card-body">
                                <div class="tim-typo">
                                    <h2 class="title">
                                        Informations personnelles
                                    </h2>
                                </div>
                                <span class="bmd-form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                          <span class="input-group-text">
                                            <i class="material-icons fa fa-user-circle"></i>
                                          </span>
                                        </div>
                                        <input type="text" name="name" class="form-control" value="{{ user.name }}" placeholder="Votre nom et prénom" required>
                                    </div>
                                </span>

                                <div class="row">
                                    <div class="col-md-6">
                                        <span class="bmd-form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                  <span class="input-group-text">
                                                    <i class="material-icons fa fa-envelope"></i>
                                                  </span>
                                                </div>
                                                <input type="email" name="email" class="form-control" value="{{ user.email }}" placeholder="Renseignez votre email" required>
                                            </div>
                                        </span>
                                    </div>
                                    <div class="col-md-6">
                                        <span class="bmd-form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                  <span class="input-group-text">
                                                    <i class="material-icons fa fa-phone-square"></i>
                                                  </span>
                                                </div>
                                                <input type="tel" name="tel" value="{{ user.tel }}" class="form-control" placeholder="Numéro de téléphone(orange money, mobile money...)" required>
                                            </div>
                                        </span>
                                    </div>
                                </div>

                                <span class="bmd-form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                          <span class="input-group-text">
                                            <i class="material-icons fa fa-child"></i>
                                          </span>
                                        </div>
                                        <input type="number" name="old" max="55" min="10" value="{{ user.old }}" class="form-control" required placeholder="Votre âge">
                                    </div>
                                </span>

                                <span class="bmd-form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                          <span class="input-group-text">
                                            Votre sexe
                                          </span>
                                        </div>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                              <input class="form-check-input" type="radio" name="gender"  value="masculin" {% if user.gender == "masculin" %} checked {% endif %}><i class="material-icons fa fa-male"></i> Masculin
                                              <span class="circle">
                                                <span class="check"></span>
                                              </span>
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="radio" name="gender" value="feminin" {% if user.gender == "feminin" %} checked {% endif %}><i class="material-icons fa fa-female"></i> Féminin
                                                <span class="circle">
                                                    <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>
                                     </div>
                                </span>

                                <span class="bmd-form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                          <span class="input-group-text">
                                            <i class="material-icons fa fa-lock"></i>
                                          </span>
                                        </div>
                                        <input type="password" name="password" class="form-control" placeholder="Mot de passe">
                                    </div>
                                </span>

                                <span class="bmd-form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                          <span class="input-group-text">
                                              <i class="material-icons fa fa-language"></i> <pre> </pre> Langue la plus parlée
                                          </span>
                                        </div>
                                        <div class="custom-control">
                                            <select name="language" class="custom-select" id="language">
                                                <option value="français" {% if user.language == "français" %} selected {% endif %}>Français</option>
                                                <option value="anglais" {% if user.language == "anglais" %} selected {% endif %}>Anglais</option>
                                                <option value="espanol" {% if user.language == "espagnol" %} selected {% endif %}>Espagnol</option>
                                                <option value="allemand" {% if user.language == "allemand" %} selected {% endif %}>Allemand</option>
                                                <option value="chinois" {% if user.language == "chinois" %} selected {% endif %}>Chinois</option>
                                            </select>
                                        </div>
                                    </div>
                                </span>

                                <span class="bmd-form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                          <span class="input-group-text">
                                              <i class="material-icons fa"></i> <pre> </pre> Pays de résidence
                                          </span>
                                        </div>
                                        <div class="custom-control">
                                            <select name="country" class="custom-select" id="language">
                                                {% for country in countries %}
                                                    <option value="{{ country }}"  {% if user.country == country %} selected {% endif %} >{{ country }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </span>

                                <div class="text-center">
                                    <h3 class="title mb-1">
                                        Réseaux sociaux <i class="fa fa-globe"></i>
                                    </h3>
                                    <span class="description">Sélectionez les réseaux auquels vous appartenez</span>
                                </div>
                                <div class="bmd-form-group text-center">
                                    <button type="button" class="btn" id="instagram"><i class="fa fa-instagram"></i> instagram</button>
                                    <button type="button" class="btn" id="facebook"><i class="fa fa-facebook"></i> facebook</button>
                                    <button type="button" class="btn" id="snapchat"><i class="fa fa-snapchat"></i> snapchat</button>
                                    <button type="button" class="btn" id="twitter"><i class="fa fa-twitter"></i> twitter</button>
                                    <span class="bmd-form-group" id="instagramContainer" style="display: none">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                              <span class="input-group-text">
                                                <i class="fa fa-instagram"></i>
                                              </span>
                                            </div>
                                            <input type="text" value="{{ user.instagramlink }}" name="instagram" class="form-control" placeholder="lien de votre page instagram">
                                        </div>
                                    </span>
                                    <span class="bmd-form-group" id="facebookContainer" style="display: none">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                              <span class="input-group-text">
                                                <i class="fa fa-facebook"></i>
                                              </span>
                                            </div>
                                            <input type="text" value="{{ user.facebooklink }}" name="facebook" class="form-control" placeholder="lien de votre page facebook">
                                        </div>
                                    </span>
                                    <span class="bmd-form-group" id="twitterContainer" style="display: none">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                              <span class="input-group-text">
                                                <i class="fa fa-twitter"></i>
                                              </span>
                                            </div>
                                            <input type="text" value="{{ user.twitterlink }}" name="twitter" class="form-control" placeholder="lien de votre page twitter">
                                        </div>
                                    </span>
                                    <span class="bmd-form-group" id="snapchatContainer" style="display: none">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                              <span class="input-group-text">
                                                <i class="fa fa-snapchat"></i>
                                              </span>
                                            </div>
                                            <input type="text" value="{{ user.snapchatlink }}" name="snapchat" class="form-control" placeholder="lien de votre page snapchat">
                                        </div>
                                    </span>
                                </div>
                            </div>

                            {% if activities is not empty %}
                                <div class="text-center">
                                    <h3 class="title mb-1">
                                        Secteur d'activité
                                    </h3>
                                    <span class="description">Choisissez le secteur d'activité dans lequel vous vous sentez à l'aise</span>
                                    <div class="input-group justify-content-center mt-0">
                                        {% for activity in activities %}
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input {% if activity.id == concerne.activity.id %} checked {% endif %} class="form-check-input" name="activities[]" type="checkbox" value="{{ activity.id }}"> {{ activity.description }}
                                                    <span class="form-check-sign">
                                                        <span class="check"></span>
                                                    </span>
                                                </label>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}

                            {% if partnerShipTypes is not empty %}
                                <div class="text-center">
                                    <h3 class="title mb-1">
                                        Type de partenariat <i class="fa fa-money"></i>
                                    </h3>
                                    <span class="description">Selectionnez le type de partenariat que vous souhaiteriez avoir</span>
                                </div>
                                <div class="bmd-form-group pt-0 mb-2">
                                    <div class="input-group justify-content-center mt-0">
                                        {% for partnerShipType in partnerShipTypes %}
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                  <input {% if partnerShipType.id == user.partnership.id %} checked {% endif %} class="form-check-input" type="radio" name="partner"  value="{{ partnerShipType.id }}"> {{ partnerShipType.description }}
                                                  <span class="circle">
                                                    <span class="check"></span>
                                                  </span>
                                                </label>
                                            </div>
                                        {% endfor %}
                                     </div>
                                </div>
                            {% endif %}

                            <div class="text-center">
                                <h3 class="title mb-1">
                                    Moyen de rémunération <i class="fa fa-money"></i>
                                </h3>
                                <span class="description">Par quel moyen souhaiteriez vous être rémunéré?</span>
                            </div>
                            <div class="bmd-form-group pt-0 mb-2">
                                <div class="input-group justify-content-center mt-0">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                          <input class="form-check-input" {% if user.paymenttype == "Orange Money" %} checked {% endif %} type="radio" name="payment"  value="Orange Money"> Orange Money
                                          <span class="circle">
                                            <span class="check"></span>
                                          </span>
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" {% if user.paymenttype == "Mobile Money" %} checked {% endif %} type="radio" name="payment" value="Mobile Money" checked> Mobile Money
                                            <span class="circle">
                                                <span class="check"></span>
                                            </span>
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" {% if user.paymenttype == "Autres" %} checked {% endif %}  type="radio" name="payment" value="Autres"> Autres
                                            <span class="circle">
                                                <span class="check"></span>
                                            </span>
                                        </label>
                                    </div>
                                 </div>
                            </div>

                            <div class="text-center">
                                <h3 class="title mb-1">
                                    Photos pertinentes
                                </h3>
                                <span class="description">Ajoutez quelques photos pertinente de vous(la qualité de l'image est exigé)</span>
                            </div>
                            <div class="footer text-center mb-5">
                                <button type="submit" class="login_btn btn btn-primary btn-wd ">Modifier</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <p class="description text-center"><a href="{{ path('home_profile') }}"><i class="fa fa-home"></i> retour à l'accueil</a></p>
        </div>

        <script src="{{ asset('bundles/home/js/jquery-3.2.1.min.js') }}"></script>
        <script src="{{ asset('bundles/home/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('bundles/home/js/popper.min.js') }}"></script>
        <script src="{{ asset('bundles/home/js/nouislider.min.js') }}"></script>
        <script src="{{ asset('bundles/home/js/material-kit.min.js') }}"></script>
        <script src="{{ asset('bundles/home/plugins/bootstrap-material/bootstrap-material-design.min.js') }}"></script>
        <script src="{{ asset('bundles/home/js/sweetalert.min.js') }}"></script>
        <script>
            $(document).ready(function() {
                $(document).on('submit', '#registerForm', function (e) {
                    e.preventDefault();
                    var url = $(this).attr('action'),
                        act = $('.login_btn').text();
                    data = (window.FormData)? new FormData($(this)[0]) : $(this).serialize();

                    $.ajax({
                        type: 'post',
                        url: url,
                        data: data,
                        contentType: false,
                        processData: false,
                        datatype: 'json',
                        beforeSend: function () {
                            $('.login_btn').text('Chargement...').prop('disabled', true);
                        },
                        success: function (json) {
                            if (json.status == 0) {
                                swal(json.mes, '', 'success');
                                window.location.reload();
                            }else{
                                swal(json.mes, '', 'error');
                            }
                        },
                        complete: function () {
                            $('.login_btn').text(act).prop('disabled', false);
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                        }
                    });
                });
            });

            $(document).ready(function() {
                // Sliders Init
                //materialKit.initSliders();
                $('#instagram').on('click', function (e) {
                    if($(this).hasClass('btn-insta')){
                        $(this).removeClass('btn-insta');
                        $(this).css({'background-color' : '#919191'});
                        $('#instagramContainer').slideToggle();
                    }else{
                        $(this).addClass("btn-insta");
                        $(this).css({'background-color' : '#ff741b'});
                        $('#instagramContainer').slideToggle();
                    }
                });
                $('#facebook').on('click', function (e) {
                    if($(this).hasClass('btn-face')){
                        $(this).removeClass('btn-face');
                        $(this).css({'background-color' : '#919191'});
                        $('#facebookContainer').slideToggle();
                    }else{
                        $(this).addClass("btn-face");
                        $(this).css({'background-color' : '#5f54ff'});
                        $('#facebookContainer').slideToggle();
                    }
                });
                $('#snapchat').on('click', function (e) {
                    if($(this).hasClass('btn-snap')){
                        $(this).removeClass('btn-snap');
                        $(this).css({'background-color' : '#919191'});
                        $('#snapchatContainer').slideToggle();
                    }else{
                        $(this).addClass("btn-snap");
                        $(this).css({'background-color' : '#f0e515'});
                        $('#snapchatContainer').slideToggle();
                    }
                });
                $('#twitter').on('click', function (e) {
                    if($(this).hasClass('btn-info')){
                        $(this).removeClass('btn-info');
                        $('#twitterContainer').slideToggle();
                    }else{
                        $(this).addClass("btn-info");
                        $('#twitterContainer').slideToggle();
                    }
                });
            });
        </script>
        <style>
            @font-face {
                font-family: roboto;
                src: url('/bundles/home/fonts/Roboto-Regular.ttf');
            }
        </style>
    </body>
</html>